---
#PYTHON'S HISTORY    
---
##*Easy and friendly programming*

---
![](https://oodoo.com.mx/wp-content/uploads/2020/06/python_logo.png)

---

Programming is one of the most powerful and necessary tools in today's world, this powerful tool gives scope to endless possibilities, making it the basis of today's accelerated scientific and technological development.
Added to this, programming is the precursor to globalization, giving it an even more important place in the history of human development.
The problem arises at the time of programming, since many people are complicated by this task, people with ideas of applications and programs could not be to develop them due to the complexity of this task.
The launch of "Python" was revolutionary for this problem and in this article we will know more about it ...

# Python (History & more) 

Python is an accessible, multi-paradigm (means that everyone can take their own style to code), easy to use, multiplatform (compatible with different operating systems) programming language.
According with Machuca (2021) the main applications of this programming language are in Big Data, AI (Artificial Intelligence), Data Science, test frameworks and web development.    
Python's philosophy is to pay special attention to the readability of the code, making it as friendly as possible for the developer and that this language resembles as much as possible a conversation between the computer and the programmer.

Python was created by Guido van Rossum in the late 80s and early 90s more specifically in 1991.

![](https://www.ecured.cu/images/thumb/e/e3/200px-Guido_van_Rossum_OSCON_2006.jpg/260px-200px-Guido_van_Rossum_OSCON_2006.jpg)

In Rossum's own words

“… Six years ago, in December 1989, I was looking for a programming hobby project that would keep me busy during the Christmas weeks. My office would be closed and I would have nothing but my home computer to hand. I decided to write an interpreter for the new scripting language I had recently been coming up with: a descendant of ABC that Unix / c hackers would like. I chose the Python name for the project, finding myself in a slightly irreverent frame of mind (and being a huge fan of Monty Python’s Flying Circus). ”

The Python programming language uses code modules that are interchangeable instead of a long list of instructions that was standard for functional programming languages.
The standard Python implementation is called "cpython".
Converting it to something called byte code. This byte code cannot be understood by the CPU. So we need an interpreter called Python Virtual Machine (PVM) that executes the bytecodes.

According with aula21(w/d) The Python interpreter performs the following tasks to run a program:

Step 1: The interpreter reads a python code or instruction. Then it checks that the instruction is well formatted, that is, it checks the syntax of each line. If it finds any errors, it immediately stops the translation and displays an error message.

Step 2: If there are no errors, that is, if the instruction or the python code is well formatted, the interpreter translates it into its equivalent form in an intermediate language called "Byte code". Thus, after successful execution of script or python code, it is completely translated into Byte code.

Step 3: The byte code is sent to the Python Virtual Machine, where the byte code is again executed in PVM. If an error occurs during this run, the run stops with an error message.


![](https://oregoom.com/wp-content/uploads/2020/08/funcion-de-python.jpg)

# Python language examples

Next, an introduction to the subject of the Python programming language will be given examples and to contextualize everything that we have talked about the simplicity that this language has.

# 1.- Print Statement
1. 1 Print text

In [19]:
print("Hello world")

Hello world

1. 2 Print an equation 

If you want to print the ecuation you need to put ("") but if you want to solve it you just need to skip this

In [20]:
print("(2+5)/8")
print((2+5)/8)

(2+5)/8
0.875

1. 3 Print a variable

Here is a small detail and that is that the variable must be declared in the cell in which it will be used or, failing that, it must be previously declared and executed.

In [21]:
x = "Hola mundo"
print(x)

Hola mundo


1. 4 Print a variable & text at the same time

You need tu put a letter "f" before

In [22]:
world = "Python"
print(f"Welcome to {world}'s world'")

Welcome to Python's world'

1. 5 Asking for an input

In [23]:

World = input("What's your programming languaje")
message = "Welcome back to the world of {}"
print(message.format(world))

What's your programming languajepython
Welcome back to the world of Python

# 2.- If, Else, Elif Statement

2. 1 If Statement

In [29]:
Juan = 50
Pablo = 40
if a > b : 
 print("Juan is older than Pablo")

Juan is older than Pablo

Here you can see that Juan is older than Pablo, so the programm print the message, but if Juan were younger?

In [28]:
Juan = 25
Pablo = 40
if a > b : 
 print("Juan is older than Pablo")

Juan is older than Pablo

The message isn't printed because the condicion wasn't true

2. 2 Logical statements

Here the logical operators are used, to learn more about them there is a very complete article about the subject ---> [logical statements](https://entrenamiento-python-basico.readthedocs.io/es/latest/leccion4/operadores_logicos.html)

In [34]:
Juan = 12
Pablo = 15
Roberto = 14
Edad = 18
if Edad >= Pablo and Edad >= Juan and Edad >= Roberto:
 print("Todos son menores de edad")

Todos son menores de edad

2. 3 Else Statement

The else statement enters when the original if statement is not true not hold

In [44]:
Juan = 18
Roberto = 20
if Juan > Roberto:
    print("Juan is older ")
else:
    print("Juan is younger ")

Juan is younger

In [46]:
Juan = 22
Roberto = 20
if Juan > Roberto:
    print("Juan is older ")
else:
    print("Juan is younger ")

Juan is older

2. 4 Elif Statement 

This statment is used when there are a number of conditions that are not true, it works like the phrase (if not)

In [47]:
Juan = 15
Roberto = 15
if Juan < Roberto:
    print("Juan is youger than Roberto")
elif Juan > Roberto:
    print("Juan is older than Roberto")
else:
    print("Juan and Roberto have are same age")

Juan and Roberto have the same age

# 3.- Loops 
3. 1 For loops

For loops allow you to run one or more statements iteratively, once for each item in the collection.

In [58]:
for contador in range(1,10):
  print (contador)

1
2
3
4
5
6
7
8
9

3. 2 "Dictionary"

If you want to iterate over a dictionary.

In [79]:
frutas = {'Fresa':'roja', 'Limon':'verde', 'Papaya':'naranja', 'Manzana':'amarilla', 'Guayaba':'rosa'}
for nombre,color in frutas.items():
   print((nombre),"es de color",(color))

Fresa es de color roja
Limon es de color verde
Papaya es de color naranja
Manzana es de color amarilla
Guayaba es de color rosa

3. 3 While loop

The while loop allows executing a block of instructions as long as the given condition is met.

In [82]:
numero = 0
while numero <= 10:
  print(numero)
  numero += 1

0
1
2
3
4
5
6
7
8
9
10

# EXTRA

In [ ]:
y= ("si")
x = input("If you what my data say si ")
if x==y:
  print("Universidad Tecnologica de Altamira, Teacher .- Jesus Rafael Dominguez Torres, Student.- Christian David Rodriguez Gali, Code.- 492010713,Grade and Group .- MEC 3A")
else:
    print("See you :)")

Universidad Tecnologica de Altamira

Teacher .- Jesus Rafael Dominguez Torres

Student.- Christian David Rodriguez Gali

Code.- 492010713

Grade and Group .- MEC 3A